/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --cover-image: url(../images/cover-image-light.png);
  --bg-color: #ffc2e6;
  --main-text-color: #353430;
  --accent-text-color: #353430;
  --section-subtitle-color: #353430;
  --title-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --border-color: #353430;
}

.theme-light .rec-label {
  display: none;
}

.theme-light .header__theme-menu-item {
  color: var(--accent-text-color);
}

.theme-light .section__title {
  color: var(--section-subtitle-color);
}

.theme-light .header__theme-menu-button_active {
  border: 1px solid var(--border-color);
}

.theme-light .header__theme-menu-button:hover {
  border: 1px solid color-mix(in sRGB, var(--border-color) 40%, transparent);
}

.theme-light .title-decor {
  color: var(--main-text-color);
}

@media (prefers-color-scheme: light) {

  :root {
    --cover-image: url(../images/cover-image-light.png);
    --bg-color: #ffc2e6;
    --main-text-color: #353430;
    --accent-text-color: #353430;
    --section-subtitle-color: #353430;
    --title-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --border-color: #353430;
  }

  .header__theme-menu-item {
    color: var(--accent-text-color);
  }

  .rec-label {
    display: none;
  }

  .section__title {
    color: var(--accent-text-color);
  }

  .header__theme-menu-button_active {
    border: 1px solid var(--border-color);
  }

  .header__theme-menu-button:hover {
    border: 1px solid color-mix(in sRGB, var(--border-color) 40%, transparent);
  }

  .title-decor {
    color: var(--section-subtitle-color);
  }
}
